@import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap");

.advice-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  border: 2px solid grey;
  width: 30rem;

  height: 10rem;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  padding: 1.5rem;
}

.advice-container p {
  font-size: 2rem;
  font-weight: 600;
  font-family: "Pangolin", cursive;
}

@media only screen and (max-width: 600px) {
  .advice-container {
    width: 20rem;

    height: 7rem;
  }
  .advice-container p {
    font-size: 1rem;
    font-weight: 400;
  }
}
