.money-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5rem;
  border: 2px solid grey;
  width: 30rem;
  height: 10rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.amount,
.result-amount,
.fromMoney,
.toMoney {
  width: 3.5rem;
  height: 1.5rem;
  margin: 0 0.5rem;
  background-color: black;
  color: #fff;
}

.money-text {
  width: 100%;
  text-align: center;

  background-color: black;
  color: #fff;
}
